{
  "env": {
    "development": {
      "presets": ["next/babel"]
    },
    "production": {
      "presets": [
        "next/babel",
        [
          "@babel/env",
          {
            "targets": {
              "node": "8"
            }
          }
        ]
      ]
    }
  },
  "plugins": [
    [
      "module-resolver",
      {
        "root": ["./"],
        "alias": {
          "components": "./client/components",
          "styles": "./client/styles",
          "pages": "./client/pages",
          "actions": "./client/actions",
          "reducers": "./client/reducers",
          "api": "./client/api",
          "routes": "./server/routes"
        }
      }
    ]
  ]
}
